/* General Styles */
html {
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
}

[class] {
    transition: background-color 0.3s ease;
}

.enter-page {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2%;
    max-width: 1000px;
    aspect-ratio: 16 / 9; 
    width: 90%; 
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth scaling transition */

}

.image-id,
.sign-container {
    flex: 0 0 48%; 
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-content {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.sign-container {
    background-color: var(--v1-gray);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5%;
    text-align: center;
}

.sign-in-text {
    color: black;
    font:320px;
    margin-bottom: 50px;
    color: var(--dark-green);
    text-align: center;
}

.sign-account, .add-account {
    border: none;
    border-radius: 8px;
    background-color: var(--dark-green);
    /* background-color:  red; */
    color: var(--white);
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-account:hover, .add-account:hover {
    background-color: var(--hover-button);
    transform: scale(1.01);
}

.sign-account:active, .add-account:active {
    background-color: var(--hover-button);
    transform: scale(0.98);
}

.d-mode {
    position: fixed; 
    bottom: 28px;
    left: 10px; 
    cursor: pointer;
}

.d-mode i {
    position: absolute;
}

.d-mode i.sun {
    opacity: 0; /* Initially hide the sun icon */
}

.d-mode i.moon{
    color: var(--dark-green);
}

.switch-login::before {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .login-container {
        max-width: 100%; /* Full width on smaller screens */
    }

    .enter-page {
        /* flex-direction: column; */
        aspect-ratio: auto; /* Remove aspect-ratio for stacked layout */
        width: 100%;
        padding: 5%;
        gap: 20px;
    }

    .image-id,
    .sign-container {
        width: 100%;
        max-width: 100%;
    }
}