
html {
    height: 100vh;
}

body {
    color: var(--text-color);
    background-color: var(--v2-gray);
    display: flex;
    overflow:hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    gap: 20px;
}

img {
    width: 100%;
}

/* [class] {
    transition: background-color 0.3s ease;
} */

.boysen-header {
    width: 90%;
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
    padding: 8px 12px;
    transition: padding 0.4s ease-in-out;
}

.boysen {
    color: var(--dark-green);
    font-size: clamp(2rem, 2.5vw, 42px);
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    transition: 
        font-size 0.4s ease-in-out,
        letter-spacing 0.4s ease-in-out,
        color 0.3s ease-in-out;
}


.container-page {
    background-color: var(--v1-gray);
    box-shadow: 0px 6px 8px var(--shadow);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 35px;
    width: 72%; 
    max-width: 1060px; 
    /* max-height: 660px; */
    height: 75%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: width 1.5s ease;
}

.dropdown-list {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(20%) translateY(20%);
    transition: transform 0.4s ease, opacity 0.4s ease;
    top: 50%;
    z-index: 1000;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 12px;

    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 250px;

    gap: 10px;
    padding: 16px;

    opacity: 0.98;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.dropdown-cont {
    width: 100%;
    padding: 4px 8px;
}


.user-title {
    height: 8%;
    display: flex;
    align-items: center;
}

.user-title {
    position: relative;
    justify-content: center; 
    border-radius: 4px 4px 0 0;
    padding: 10px;
    background-color: var(--dark-green2);
}

.user-title h3 {
    color: white;
}

.close-user {
    position: absolute;
    right: 5px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close-user:hover {
    color: var(--hot-pink);
}

.user-cont {
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--v1-gray);
    padding: 8px;
}

.first-column {
    /* width: 30%; */
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box-groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 8px;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green2);
    border-radius: 4px;
    box-shadow: 0px 1px 2px var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-style: none;
}

.box:hover {
    background-color: var(--another-green); 
}

.box:active {
    transform: scale(0.95);
    transition: transform 0.4s ease;
}

.box::after {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: 150%;
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    font-size: 13px;
    z-index: 10;
}
  
.box::before {
    content: "";
    position: absolute;
    bottom: 100%;
    border: 6px solid transparent;
    border-top-color: #333;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 9;
}
  
.box:hover::after,
.box:hover::before {
    opacity: 1;
}

.second-column {
    display: flex;
    flex-direction: column; 
    background-color: var(--white);
    padding: 10px;
    width: 70%;
    border-radius: 4px;
    gap: 5px;
}

.table-out {
    display: flex;
    width: 100%;
    height: 94%;
}

.user-table-cont {
    width: 100%;
    border-collapse: collapse;
    table-layout: relative;
    align-self: flex-start;
}

.user-row tr {
    width: 100%;
    /* transition: background-color 0.2s ease-in-out; */
}

.user-row tr:hover {
    cursor: pointer;
    background-color: var(--v1-gray);
    color: var(--another-green);
    font-weight: bold;
    box-shadow: 0px 0px 3px rgba(4, 66, 4, 0.5);
}

.user-row tr:active {
    background-color: var(--dark-green2); 
    filter: contrast(90%);
    color: white;
    font-weight: bold;
}

.user-row td {
    border: 1px solid var(--v2-gray);
    padding: 4px 15px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-cont {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    margin-right: 5px;
    gap: 10px;
    height: 6%;
}

.page-cont:hover {
    cursor: pointer;
}

.page-btn {
    border: none;
    background: none;
    color: var(--v3-gray);
    cursor: pointer;
    font-size: 14px;
}

.page-btn:hover {
    color: var(--hover-button);
    transition: color 0.5s ease;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    padding: 0px 13px;
    font-size: 13px;
    border: 1px solid var(--v2-gray);
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}

.form-container {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}


.header {
    color: var(--dark-green);
    text-align: center;
    font-weight: 600;
}

.sign-in {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0%);
    transition: transform 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.create-acc {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}

.sign-in-login {
    color: var(--dark-green);
    text-align: center;
}

.active-acc {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 60%;
}

.active-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
}

.active-form span {
    color: var(--dark-green);
    position: relative;
    transition: color 0.3s ease;
}

.active-form span::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--dark-green);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.active-form span:hover {
    cursor: pointer;
    color: var(--dark-green2);
}

.active-form span:hover::after {
    cursor: pointer;
    background-color: var(--dark-green2);
    width: 100%;
    left: 0;
}

.outer-container { 
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container,
.admin-cont{
    background-color: var(--v1-gray);
    box-shadow: 0px 2px 6px var(--shadow);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 35px;
    width: 72%;
    max-width: 350px;
    min-width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: width 1.5s ease, padding 0.4s ease, box-shadow 0.4s ease;
}

.input-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    gap: 5px;
}

.input-cont input[type="text"] {
    box-sizing: border-box;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    padding: 0.4rem;
    flex-grow: 1;
    font-size: 1rem;
    background-color: var(--new-white);
    color: var(--text-color);
}

.look-btn {
    background-color: var(--new-white);
    color: var(--dark-green);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.look-btn:hover {
    background-color: var(--txt-shadow);
}

.look-btn:active {
    outline: none;
    transform: scale(0.9); 
    transition: transform 0.5s ease;
}

.abled {
    color: var(--white);
    background-color: var(--dark-green);
}

.abled:hover {
    background-color: var(--dark-green);
    cursor: not-allowed;
}

.abled:active {
    transform: none;
}

.login-form {
    width: 100%;
}

.login-form label {
    color: var(--dark-green);
    text-align: left;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.dropdown_user,
.login-form input[type="password"] {
    box-sizing: border-box;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.4rem;
    width: 100%;
    font-size: 1rem;
    background-color: var(--new-white);
    color: var(--text-color);
}

.dropdown_user:focus,
.login-form input[type="password"]:focus {
    border-color: var(--dark-green);
    outline: none;
    box-shadow: 0 0 5px rgba(47, 77, 51, 0.2);
}

.error-message {
    color: var(--hot-pink);
    font-size: 12px;
    padding: 0px 3px;
    margin-bottom: 10px;
    display: none;
    width: 100%;
    transition: all 0.3s ease;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-password {
    font-size: 11px;
    color: var(--hot-pink);
    text-decoration: none;
}

.login-back {
    position: fixed;
    top: 20px;
    left: 20px; 
    background-color: var(--dark-green);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none; 
}

.required {
    color: var(--hot-pink);
    font-weight: normal;
    font-size: 1em;
}

.create-acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .admin-cont,
.new-cont {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--v1-gray);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 35px;
    min-width: 280px;
    max-width: 350px;
    text-align: center;
    gap: 10px;
} */


.new-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .admin-cont, .new-cont {
    display:none;
 }

.admin-form,
.new-form {
    width: 100%;
}

.new-container {
    background-color: var(--v1-gray);
    box-shadow: 0px 2px 6px var(--shadow);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 35px;
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: width 1.5s ease, padding 0.4s ease, box-shadow 0.4s ease;
}

.admin-form label,
.new-form label {
    color: var(--dark-green);
    text-align: left;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.admin-form input[type="text"],
.admin-form input[type="password"],
.new-form input[type="text"],
.new-form input[type="password"] {
    box-sizing: border-box;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.4rem;
    width: 100%;
    font-size: 1rem;
    background-color: var(--new-white);
    color: var(--text-color);
}

.admin-form input[type="text"]:focus,
.admin-form input[type="password"]:focus,
.new-form input[type="text"]:focus,
.new-form input[type="password"]:focus {
    border-color: var(--dark-green);
    outline: none;
    box-shadow: 0 0 5px rgba(47, 77, 51, 0.2);
}

.admin-pass-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newUser::placeholder {
    color: var(--v2-gray);
    font-size: 15px;
}

.arrow-icon {
    color: white;
    font-size: 1rem;
}

.required {
    color: var(--hot-pink);
    font-weight: normal;
    font-size: 1em;
}

.error {
    transition: border-color 0.3s ease;
    border: 2px solid var(--hot-pink) !important;
}

/* Keyframes */
.overlay,
.sign-in,
.create-acc {
    will-change: transform, opacity;
}

.animated-elem {
    animation: slideInLeft 0.5s ease-in-out, fadeIn 0.5s ease-in-out;
}

.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay {
    display: flex;
    width: 155%; 
    height: 100%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-header,
.overlay-p {
    color: white;
    text-align: center;
    text-shadow: 0 4px 8px var(--shadow);
    transition: 0.3s ease-in-out;
}

/* .overlay-left, .overlay-right {
    position: relative;
    pointer-events: auto;
    flex: 1;
    background: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
    
} */

.overlay-left,
.overlay-right {
    position: relative;
    pointer-events: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}


.overlay-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url('/internal/public/boat.jpg'); 
    filter: hue-rotate(0deg) contrast(120%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.overlay-left {
    background-position: left center; 
}


.overlay-right {
    background-position: right center; 
}

.overlay-gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        var(--overlay-dark) 30%,
        var(--overlay-light)
    );
    z-index: 1; 
}

.items {
    z-index: 2; 
}

.overlay-mid {
    position: relative;
    flex: 1;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-button {
    border-radius: 20px;
    border: 1px solid var(--dark-green);
    background-color: var(--dark-green);
    color: white;
}

.ghost {
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.form-button, .ghost {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    padding-block: 12px;
    width: 100%;
    letter-spacing: 1px;
    text-transform: capitalize;
    /* transition: 0.3s ease-in-out; */
}

.form-button:hover,
.ghost:hover {
    letter-spacing: 3px;
}

.form-button:active,
.ghost:active {
    transform: scale(0.95);
}

.form-button:focus,
.ghost:focus {
    outline: none;
}

.container-page.right-panel-active .overlay {
    transform: translateX(-33.4%);
}

.container-page.right-panel-active .sign-in {
    transform: translateX(100%);
}

.container-page.right-panel-active .create-acc {
    transform: translateX(0);
}

.d-mode {
    position: absolute; 
    bottom: 30px;
    left: 10px; 
    cursor: pointer;
    pointer-events: auto;
}

.d-mode i {
    position: absolute;
}

.d-mode i.sun {
    opacity: 0; 
}

.d-mode i.moon {
    color: var(--dark-green);
}

.switch-login::before {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

body.dark-mode .d-mode i.sun {
    opacity: 1;
}

body.dark-mode .d-mode i.moon {
    opacity: 0;
}

body.dark-mode .switch::before {
    left: 22px;
    background: var(--dark-green);
}

body.dark-mode .overlay-gradient {
    background: linear-gradient(
        to bottom,
        var(--overlay-light) 60%,
        var(--overlay-dark) 
    );
    z-index: 1;
}

/* body.dark-mode .overlay-panel {
    filter: hue-rotate(0deg) brightness(70%) contrast(200%) saturate(70%);
} */

body.dark-mode .overlay-left,
body.dark-mode .overlay-right {
    background-image: url('/internal/public/boat.jpg');
    filter: brightness(70%) contrast(130%) saturate(80%);
}


@media(max-width: 1000px ){
    .boysen {
        font-size: clamp(1.5rem, 4vw, 60px);
    }

    .new-container {
        min-width: 290px;
    }

}

@media (max-width: 900px) {
    .container-page {
        width: 600px;
        /* background-color: transparent;
        box-shadow: none; */
    }

    .dropdown-list {
        transform: translateX(-65%) translateY(20%);
    }

    .overlay-panel {
        display:none;
    }

    .form-container {
        width: 100%;
    }


}

@media (max-width: 600px) {
    .container-page {
        width: 450px;
        transition: width 1s ease;
    }
}

/* .input-cont input[type="text"] {
    box-sizing: border-box;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    padding: 0.4rem;
    flex-grow: 1;
    font-size: 1rem;
    background-color: var(--new-white);
    color: var(--text-color);
}

.look-btn {
    background-color: var(--new-white);
    color: var(--dark-green);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--v2-gray);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
} */
