/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Reset */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --white: white;
    --dark-green: #05503a;
    --hover-button: #204330;
    --light-green: #90EE90;
    --v1-gray: #E3E9E8;
    --v2-gray: #ccc;
    --v3-gray: #b3b0b0;
    --hot-pink: #d44a41;
    --bg-color: #f0f2f5;
    --text-color: black;
    --whitesmoke: whitesmoke;
    --hint-green: #e8f5e9;
    --new-border: #E3E9E8;
    --btn: whitesmoke;
    --disable-input: #e0e0e0;
    --disable-text: #535353;

    --tsm-left: left 0.3s ease;
    --tsm-width: width 0.3s ease;
    --tsm-l-w: var(--tsm-left), var(--tsm-width);
    --tsm-pad: padding-left 0.3s ease;
}

/* General Styles */
html {
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

img {
    width: 100%;
}

.enter-page {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2%;
    max-width: 1000px;
    aspect-ratio: 16 / 9; 
    width: 90%; 
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth scaling transition */

}

.image-id,
.sign-container {
    flex: 0 0 48%; 
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-content {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.sign-container {
    background-color: var(--v1-gray);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5%;
    text-align: center;
}

.sign-in-text {
    color: black;
    font:320px;
    margin-bottom: 50px;
    color: var(--dark-green);
    text-align: center;
}

.sign-account, .add-account {
    border: none;
    border-radius: 8px;
    background-color: var(--dark-green);
    color: var(--white);
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-account:hover, .add-account:hover {
    background-color: var(--hover-button);
    transform: scale(1.01);
}

.sign-account:active, .add-account:active {
    background-color: var(--hover-button);
    transform: scale(0.98);
}

.d-mode {
    position: fixed; 
    bottom: 28px;
    left: 10px; 
    cursor: pointer;
}

.d-mode i {
    position: absolute;
}

.d-mode i.sun {
    opacity: 0; /* Initially hide the sun icon */
}

.d-mode i.moon{
    color: var(--dark-green);
}

body.dark-mode {
    --white: #636161;
    --dark-green: #7ce57c;
    --hover-button: #7dc57d;
    --light-green: #2f4d33;
    --v1-gray: #333;
    --v2-gray: #979797;
    --hot-pink: #ff7070;
    --bg-color: #1e1e1e;
    --text-color: #ffffff;
    --sidebar-bg-color: #1e1e1e;
    --sidebar-text-color: #ffffff;
    --sidebar-header-color: var(--dark-green);
    --whitesmoke: #292929;
    --hint-green: #929292;
    --new-border: #868685;
    --btn: #363636;
    --disable-input: #505050;
    --disable-text: #c7c7c7;
    --new-white: var(--v1-gray);
}

.switch-login::before {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .login-container {
        max-width: 100%; /* Full width on smaller screens */
    }

    .enter-page {
        /* flex-direction: column; */
        aspect-ratio: auto; /* Remove aspect-ratio for stacked layout */
        width: 100%;
        padding: 5%;
        gap: 20px;
    }

    .image-id,
    .sign-container {
        width: 100%;
        max-width: 100%;
    }
}